* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.icon {
  height: 50px;
  width: auto;
}
.navbar {
  background-color: #05396b;
  font-size: 1.5rem;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #000000;
  color: white;
}
