* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.oozIcon {
  height: 50px;
  width: auto;
}
.navbar {
  background-color: #05396b;
  font-size: 1.5rem;
}
.display-4 {
  font-weight: bold;
}
.availProd {
  padding: 10px;
  border-radius: 25px;
  background-color: #ab6832;
}
.coffeeContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-warning {
  color: white;
  background-color: #49281a;
  border-color: #49281a;
}
.form-check-label {
  margin: 0px 10px;
  display: flex;
}
.quantity {
  width: 100px;
  border-radius: 5px;
}
body {
  background: rgb(31, 252, 129);
  background: linear-gradient(
    30deg,
    rgba(31, 252, 129, 1) 0%,
    rgba(20, 115, 207, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
}

.del {
  color: white;
  background: #261007;
  border: none;
}

.del:hover {
  background: #692307;
  color: #db6f30;
}
.title {
  display: flex;
  justify-content: space-around;
}
.btn {
  margin: 10px;
}
.form {
  border-radius: 20px;
  color: white;
  padding: 50px;
  background-color: #dfb78c;
}
.label {
  font-weight: lighter;
  font-size: 20px;
}
.add {
  font-size: 2rem;
}
label {
  font-size: 2rem;
}
footer {
  height: 50px;
  width: 100%;
  background-color: #000000;
}
